doctype html
html
  head
    meta charset="utf-8"
    link rel="stylesheet" href="../styles/index.css"
    title Sample File
  body.sample
    #contents
      h1 トップ画面だよ
      p  Saturday 4 July 2015
      p Estadio Nacional Julio Martínez Prádanos, de Chile
      img src="http://images.performgroup.com/di/library/Copa_America_2015/6e/5c/argentina-paraguay-copa-america-celebrate-semi-final_1aygi0widpbx21fbmd63gezhkn.jpg?t=1189099470&quality=50&w=619&h="
      p
        | テキストテキストテキスト
          テキストテキストテキスト
    div.butoon
      button
        a href="./report/daily.html"
          | レポートがめんへ
